# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# IDE files
.vscode/
.project

# Operating system files
.DS_Store
Thumbs.db

# raw datasets
data/*.csv